body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}


.navbar {
    height: 5rem;
    background-color: white;
}

.fa-arrow-right-to-city {
    color: #dd2a2a;
}

.nav-link {
    color: #222222;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: blue;
}

.f-info-links, .f-info-social, .f-info-brand {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    margin: 1rem;
}

.f-info {
    text-align: center;
    display: flex;
    background-color: rgb(214, 214, 214);
    height: 10rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card {
    border: none;
    margin-bottom: 2rem;

}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.linting-link {
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
    opacity: 0%;
}

.card-img-overlay:hover {
    background-color: white;
    opacity: 20%;
}
.ad-btn {
    background-color: #dd2a2a;
}

/* Show Page */
.show-img {
    height: 30vh;
}
.btns {
    display: flex;
}